{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Passkey</title>
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <h2>Register Your Passkey</h2>
    <form id="registerPasskeyForm" method="post">
        {% csrf_token %}
        <button type="button" onclick="registerPasskey()">Register Passkey</button>
    </form>
</body>

</html>